.new-book-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-book-container .content{

    width: 100%;
    padding: 96px;
    background:#f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: space-between;
    align-items: center;


}
.new-book-container .content section{

    width: 100%;
    max-width: 380px;
}

.new-book-container .content section h1{

    margin:64px 0 32px;
    font-size: 32px;

}

.new-book-container .content section p{

    font-size: 18px;
    color: #737380;
    line-height: 32px;

}

.new-book-container .content form{
    width: 100%;
    max-width: 450px;

}


.new-book-container .content form input{
   margin-top: 8px;
    
}

.new-book-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    margin: 0 auto;
 }

 .new-book-container section.form img  {
     width: 65%;
     margin-left: auto;
     margin-right: auto;
     display : block;
    
 }