<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                        <div class="form-group">
                            <label>Nome Candidato</label>
                            <br>
                            <span class="text-danger"
                            *ngIf="(registerFormControl.nomecanditato.touched || submitted) && registerFormControl.nomecanditato.errors?.required">
                            Nome Candidato é obrigatório
                        </span>
                            <input type="text" [(ngModel)]="candidate.nomeCanditato" class="form-control" formControlName="nomecanditato">
                        </div>
                        <div class="form-group">
                            <label>Nome Vice</label>
                            <br>
                            <span class="text-danger"
                            *ngIf="(registerFormControl.nomevice.touched || submitted) && registerFormControl.nomevice.errors?.required">
                            Nome Vice é obrigatório
                            </span>
                            <input type="text" [(ngModel)]="candidate.nomeVice" class="form-control" formControlName="nomevice">
                        </div>
                        <div class="form-group">
                            <label>Legenda</label>
                            <br>
                            <span class="text-danger"
                            *ngIf="(registerFormControl.legenda.touched || submitted) && registerFormControl.legenda.errors?.required">
                                Legenda é obrigatório
                            </span>
                            <input type="number" [(ngModel)]="candidate.legenda" class="form-control" formControlName="legenda">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table" >
    <tr ngclass="btn-primary"> 
        <th class="tbl2">nomeCandidato</th> 
        <th class="tbl2">Legenda</th> 
    </tr> 
    <tr *ngFor="let candidato of allCandidates | async">
        <td class="tbl2">{{candidato.nomeCanditato}}</td> 
        <td class="tbl2">{{candidato.legenda}}</td>
        <td class="tbl2"> 
            <button type="button" class="btn btn-danger" (click)="deleteCandidato(candidato.id)">Deletar</button> 
        </td>   
    </tr>    
</table>