<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <a class="navbar-brand" routerLink="">Urna Eletrônica</a>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
          <a class="nav-link" routerLink="candidate">Cadastro Candidato</a>
          <a class="nav-link" routerLink="vote">Votar</a>
        </div>
      </div>
    </div>
  </div>
</nav>