<!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->
<!-- <div class="chartjs-container">
  <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="barChartType">
  </canvas>
</div> -->
<!-- <div id="container" style="display: block;" ></div> -->
<highcharts-chart
   [Highcharts] = "highcharts"
   [options] = "chartOptions">
</highcharts-chart>
